<mapper namespace="user">

    <!--sql唯一表示：namespace.id组成statementId-->
    <select id="findList" resultType="com.john.builder.User" parameterType="com.john.builder.User">
        select * from user
    </select>

    <!--
    传入参数封装成某个实体
        User user = new User();
        user.setId(1);
        user.setUsername("zhanshan")
    -->
    <select id="findOne" resultType="com.john.builder.User" parameterType="com.john.builder.User">
        select * from user where id = #{id} and username=#{username}
    </select>



</mapper>